# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambiente Virtual
venv/
env/
ENV/
.venv/

# Sistemas
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*.swo

# Logs
logs/
*.log

# Dados Sensíveis
.env
.env.*

# Resultados da Análise
data/analyses/
data/sessions/

# Arquivos do Sistema
.vscode/
.idea/
*.pyc

# WebDriver Manager
.wdm/

# Executáveis
*.exe
*.msi
